// Text colors
$white: #fff;
$font-white: #f6f6f7;
$grey:  #72767d;
$label-grey: #b9bbbe;
$red: #d43e24;
$white-opaque: rgba($white, 0.6);
$light-green: #43b581;
$body-text-grey: #99aab5;
$channels-grey: #8e9297;
$message-header-grey: hsla(0,0%,100%,.2);
$message-body-white: #dcddde;
$members-header-grey: hsla(0, 0%, 100%, .4);

// Background colors
$black: #202225;
$darker-grey: #36393f;
$input-black: rgba(0, 0, 0, 0.1);
$light-black: #2f3136;
$button-blue: #7289da;
$button-hover-blue: #677bc4;
$header-black-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05);
$messageForm-grey: rgba(114,118,125,.3);

// Border colors
$input-dark: rgba(0,0,0, 0.3);
$input-hover-dark: #040405;
$border-grey: #f0f0f0;
$border-hover-darkgrey: #949494;
$message-grey-border: hsla(0,0%,100%,.06);