// Tentative ChannelDetail stylings
.channelDetailContainer {
  background: $darker-grey;
  // flex-grow: 1;

  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}

.channelDetailHeaderContainer {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  font-size: 16px;

  box-shadow: $header-black-shadow;
}

.channelDetailHeader {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

// message index is sub-component in ChannelDetail
.messagesWrapper {
  // flex: 1 1 auto;
  // overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;

  // overflow: scroll;
  overflow-y: scroll;
}

.channel-welcomeMessage {
  // flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 0 20px;
  padding-bottom: 14px;
  height: 95px;
  box-sizing: border-box;
  border-bottom: 1px solid hsla(0,0%,100%,.02);
}

.channel-welcomeMessage h1 {
  color: $border-hover-darkgrey;
  font-size: 16px;
  font-weight: $regular-bold;
}

.messageIndexItemContainer {
  padding: 30px 0;
  // padding: 40px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.messageIndexItemContainer > * {
  margin-left: 8px;
}

// ChannelMessageForm inside ChannelDetail 
.channelMessageForm {
  margin: 0 20px;
  display: flex;
  flex-shrink: 0;
}

.channelMessageForm > .message-flex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.messageAreaContainer {
  padding-top: 20px;
  margin-bottom: 30px;
  border-top: 1px solid $message-grey-border;
  width: 100%;
}

.messageArea-inner {
  background-color: $messageForm-grey;
  display: flex;
  border-radius: 5px;
}

.messageArea-inner > textarea {
  font-weight: $regular;
  font-size: 0.9375rem;
  height: auto;
  max-height: 144px;
  width: 100%;
  min-height: 20px;
  margin: 2px 2px 2px 0;
  padding: 10px;
  resize: none;
}