.homeDetail-messagesContainer {
  padding-top: 20px;
  padding-bottom: 8px;
}

.friendsContainer {
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  padding: 1px 0;
  height: 44px;
}

.friendsContainer a {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: $regular;
  padding: 0 8px;
  border-radius: 3px;
  // color: $grey;
  height: 42px;
  
  position: relative;
}

.normalState {
  color: $grey;
}

.friendIcon {
  margin-right: 12px;
}

.friendsContainer a:focus {
  // color: $white;
  // background-color: $home-focus-grey;
}

.focusedContainer {
  color: $white;
  background-color: $home-focus-grey;
}

.homeDetail-messagesContainer header {
  font-size: 12px;
  color: $white;
  opacity: 0.3;
  text-transform: uppercase;
  font-weight: $regular-bold;
  padding: 10px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 12px;
}

.privateserverName {
  font-size: 15px;
}

.privateserver-inactive-button {
  display: none;
}

// Implementing toggle button for removing inactive privateservers
.friendsContainer a:hover {
  color: $white;
  background-color: $privateserver-hover-darkgrey;

  .privateserver-inactive-button {
    display: block;
    position: absolute;
    right: 10px;
    color: $grey;
  }

  .privateserver-inactive-button:hover {
    color: $white;
  }
}

// #focusedContainer:hover {
//     color: $white;
//     background-color: $home-focus-grey;
// }

// Friend Index (Feature later for adding friends and seeing list)
.friendIndexContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  color: $memberlist-turqoise;
}

.friendIndexContainer > h1 {
  font-size: 32px;
  font-weight: $bolder;
  text-align: center;
}

.friendIndexContainer > h4 {
  color: $button-blue;

}