.overlay {
  position: absolute;
  background-color: rgb(0,0,0);
  opacity: 0.85;
  // background: rgba(255, 255, 255, 0);
  top: 0;
  bottom: 0;
  width: 100vw;
  left: calc(-50vw + 50%);

  z-index: 1;
}

// Hide the overlay by adding this class
.hidden {
  display: none;
}

// Commented out for now but will revisit if I need parent divs to fill container 
.home-main {
  display: flex;
  // flex: 1 1 auto;
}

.home-div {
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;

}