.splashBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 72px 0 0;
}

.splashBody-content {
  padding: 72px 50px 0 50px;
}

.splashBody-h1 {
  font-weight: $bolder;
  font-size: 36px;
}

.splashBody-p {
  color: $white-opaque;
  max-width: 710px;
  font-size: 16px;
  font-weight: $regular;
  font-family: $app-font;
  margin-top: 12px;
  margin-bottom: 30px;
}

.splash-button {
  background-color: $button-blue;
  padding: 16px 75px;
  border-radius: 3px;
}

.splashBody-img {
  background-image: url("/assets/blurrystock-HIbAmybJHVs-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
  width: 80%;
  height: 650px;
  margin-top: 40px;
}

.splashFooter {
  padding: 40px 160px 48px;
  font-weight: $regular;
}

.splashFooter-hrTop {
  width: 100%;
  height: 1px;
  background-color: $white;
  opacity: 0.1;
  margin: 28px 0;
}

.splashFooter-content {
  display: flex;
  justify-content: space-between;
}

.splashFooter-h2 {
  font-size: 26px;
}

.splashFooter-h3 {
  color: $white-opaque;
  font-size: 12px;
  font-weight: $regular-bold;
  text-transform: uppercase;
  margin-top: 4px;
}