// Sessions pages
@import './session_form';
@import './splash_header';
@import './splash_body';

// No Match component
@import './no_match';

// Servers components
@import './server_index';
@import './server_form';
@import './server_detail';

// Channel component (part of server_detail)
@import './channel_detail';
@import './server_members'; // component nested within channel_detail
@import './channel_form';

// Home component (contains servers)
@import './home_main';

// body {
  // overflow: hidden;
// }

#root {
  position: absolute;
  width: 100%;
  min-width: 425px;
  min-height: 100vh;
  // height: 100%;
  // overflow: hidden;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;

  font-family: $app-font;
}

.app-div {
  position: relative;
  flex: 1 1 auto;
  
  // width: 100%;
  // height: 100%;
}

.protected-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}